
.green{
    background-color: yellowgreen;
    border-style: dashed;
    margin: 0 auto;
}

.cyan{
    background-color: cyan;
    border-style: dashed;
   
    margin: 0 auto;
}

.orange{
    background-color: orange;
    border-style: dashed;
    margin: 0 auto;
}